<div>
    <div class="view-subtitle">Fireworks System (Autodesk Maya, Python)</div>
    <div><a href="https://github.com/philiply/MayaScripts/blob/master/fireworkSystem.py" target="_newtab">Source Code</a></div>
    <div class="project3d-description">Inspired after watching Dreamwork's Kung Fu Panda 2, I thought about making my own fireworks script. I was really into particle fx at the time and working with physical forces. This script takes in arguments for a flat area and number of fireworks to randomly generate a fireworks show. You can also give it a timeframe to launch these fireworks. There is also a function to select a curve and launch fireworks along that path. </div> 
</div>