<div>
    <div class="view-subtitle">Pixelizer (Autodesk Maya, Python)</div>
    <div><a href="https://github.com/philiply/MayaScripts/blob/master/pixelizer.py" target="_newtab">Source Code</a></div>
    <div class="project3d-description">This was a mini project I worked on to start learning scripting in Maya. It was just after the "Pixels" video by Patrick Jean came out on YouTube. Basically what it does is utilize a selected 3d model and "voxelize" it. I realize now I should've called the script Voxelizer. It'll find the closest whole number coordinate and place a cube there.</div>
    
</div>