<div>
    <div class="page-content">
        
        <div>
            <div class="view-subtitle">Projects</div>
        </div>
        
        <div id="threeDProjectGallery">
            <div class="project3d-item" ng-repeat="p in projectData" ng-click="goToProject(p.id)">
                <div id="{{p.id}}" class="project3d-img">
                    <img src="../static/image/renders/{{p.imgName}}" ng-mouseenter="revealText($event)" ng-mouseleave="hideText($event)"/>
                </div>
                <div class="project3d-text">{{p.name}}</div>
            </div>
            
        </div>
    </div>
</div>