<div ng-init="init()">
    
    <div class="slideshow-table">
        <div class="slideshow-tablecell">
            <div class="slideshow narrow slide1" ng-init="slideshowLoop()">
                <div class="name-container">
                    <div class="name-overlay">
                        <div class="name-text-container">
                            <div class="name-text">Philip Ly</div>
                            <div class="name-description-text">programmer</div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!--
    <div class="page-content">
        <h1>Welcome!</h1>
    </div>
    -->
</div>