<div>
    <div class="view-subtitle">This is me.</div>
    <div class="aboutContent row">
        <div class="aboutPhotos col-xs-12 col-md-5">
            <div id="mainSelfPhoto" class="mainSelfPhoto selfPhoto1"></div>
            <div class="photoSelector">
                <div class="selfPhotoItem selfPhoto1" data-photo="1" ng-mouseover="updatePicture($event.target)"></div>
                <div class="selfPhotoItem selfPhoto2" data-photo="2" ng-mouseover="updatePicture($event.target)"></div>
                <div class="selfPhotoItem selfPhoto3" data-photo="3" ng-mouseover="updatePicture($event.target)"></div>
            </div>
        </div>

        <div class="aboutDetails col-xs-12 col-md-7">
            Greetings! My name is Philip Ly. I'm a software engineer, a musician, 
            and a martial artist. I graduated from UC Berkeley in 2012 with a B.S.
            degree in Electrical Engineering and Computer Science (Go Bears!). Been
            doing a lot of web development lately and thought I'd make my own personal
            website for once. You will find some projects I've worked on myself for fun
            and potentially a blog in the future. Thanks for visiting!
        </div>
    </div>
    
</div>