<div>
    <div class="page-content">
        
        <div>
            <div class="view-subtitle">Other Projects</div>
        </div>
        
        <div>
    
            <!-- the garbage collector -->
            <div class="row project-container">
                <div class="project-img col-xs-3 col-md-3 col-lg-2">
                    <img src="/static/image/projectPreview/gcTitleScreen.png">
                </div>
                <div class="project-text col-xs-9 col-md-9 col-lg-10">
                    <div class="project-title">The Garbage Collector (Unity, C#)</div>
                    <div class="project-description">This was a fun project done in 48 hours with some friends. It was part of the Indie Speed Run in 2012. In a 4-person team, I worked mostly on particle effects and enemy ship behavior.</div>
                    <div class="project-link"><a target="_newtab" href="http://thegarbagecollector.com/">Link</a></div>
                </div>
            </div>
        </div>
    </div>
</div>