<div>
    <div class="page-content">
        
        <div>
            <div class="view-subtitle">Other Projects</div>
        </div>
        
        <div>
    
            <!-- the garbage collector -->
            <div class="row project-container">
                <div class="project-img col-xs-3">
                    <img src="/static/image/projectPreview/gcTitleScreen.png">
                </div>
                <div class="project-text col-xs-9">
                    <div class="project-title">The Garbage Collector (Unity, C#)</div>
                    <div class="project-description">This was a fun project done in 48 hours with some friends. It was part of the Indie Speed Run in 2012. In a 4-person team, I worked mostly on particle effects and enemy ship behavior.</div>
                    <div class="project-link"><a target="_newtab" href="http://thegarbagecollector.com/">Link</a></div>
                </div>
            </div>
            
            <!-- three.js test -->
            <div class="row project-container">
                <div class="project-img col-xs-3">
                    <img src="/static/image/projectPreview/threejsPreview.png">
                </div>
                <div class="project-text col-xs-9">
                    <div class="project-title">Three.js Sampler (JavaScript, WebGL)</div>
                    <div class="project-description">Took the time to look into Three.js. It's a great (and easy) way to get into WebGL if you don't want to deal with the lower level intricacies. Here is a scene with a reflective sphere and a helix of spheres around it. I also had the chance to look into mouse controls for it, so you can click and drag (or touch!) the scene. You can even zoom in and out.</div>
                    <div class="project-link"><a target="_newtab" href="../static/projects/threesTest.html">Link</a></div>
                </div>
            </div>
        </div>
    </div>
</div>