<div>
    <div class="view-subtitle">I take pictures.</div>
    <div id="galleryContainer">
        <div class="item"><img src="../static/image/photography/bee.jpg"></div>
        <div class="item"><img src="../static/image/photography/bigFlower.jpg"></div>
        <div class="item"><img src="../static/image/photography/bubbles.jpg"></div>
        <div class="item"><img src="../static/image/photography/cuteSpider.jpg"></div>
        <div class="item"><img src="../static/image/photography/deadBee.jpg"></div>
    </div>
    
</div>