<div>
    <div class="page-content">
        <div class="view-subtitle">I take pictures.</div>
        <div id="galleryContainer" class="row">

            <div ng-repeat="pic in pictureList" class="galleryItem" ng-click="enlargePhoto($event, $event.target)" data-image="{{pic}}" gallery-loaded>
                <!--<div id="{{pic}}"></div>-->
                <img data-image="{{pic}}" src="../static/image/photography/small/{{pic}}.jpg">

            </div>

            <div id="globalOverlay">
                <div id="overlayContainer">
                    <div id="overlayContent">
                        <div class="loading-gif">placeholder loading gif</div>
                        <div id="overlayImage">
                            <img src="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>