<div>
    <div class="page-content">

        <div>
            <div class="view-subtitle">Projects</div>
        </div>

        <div>
            <div class="row project-container">
                <div class="project-img col-xs-3 col-md-3 col-lg-2">
                    <img src="/static/image/projectPreview/Android_Robot_200.png">
                </div>
                <div class="project-text col-xs-9 col-md-9 col-lg-10">
                    <div class="project-title">Tip Calculator (Android, Java)</div>
                    <div class="project-description">Took the time to learn the basics of Android development. A simple tip calculator that takes in the user's number input and can generate how much tip must be paid. The user can also use an inline picker to determine the even split per person.</div>
                    <div class="project-link"><a target="_newtab" href="https://github.com/philiply/TipCalculatorApp">Github</a></div>
                    <div class="project-link"><a target="_newtab" href="https://play.google.com/store/apps/details?id=com.philiply.tipcalculator">Google Play</a></div>
                </div>
            </div>

            <!-- three.js test -->
            <div class="row project-container">
                <div class="project-img col-xs-3 col-md-3 col-lg-2">
                    <img src="/static/image/projectPreview/threejsPreview.png">
                </div>
                <div class="project-text col-xs-9 col-md-9 col-lg-10">
                    <div class="project-title">Three.js Sampler (JavaScript, WebGL)</div>
                    <div class="project-description">Took the time to look into Three.js. It's a great (and easy) way to get into WebGL if you don't want to deal with the lower level intricacies. Here is a scene with a reflective sphere and a helix of spheres around it. I also had the chance to look into mouse controls for it, so you can click and drag (or touch!) the scene. You can even zoom in and out.</div>
                    <div class="project-link"><a target="_newtab" href="../static/projects/threesTest.html">Demo</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
