<div>
    <div class="page-content">
        
        <div>
            <div class="view-subtitle">Projects</div>
        </div>
        
        <div>
            <!-- three.js test -->
            <div class="row project-container">
                <div class="project-img col-xs-3 col-md-3 col-lg-2">
                    <img src="/static/image/projectPreview/threejsPreview.png">
                </div>
                <div class="project-text col-xs-9 col-md-9 col-lg-10">
                    <div class="project-title">Three.js Sampler (JavaScript, WebGL)</div>
                    <div class="project-description">Took the time to look into Three.js. It's a great (and easy) way to get into WebGL if you don't want to deal with the lower level intricacies. Here is a scene with a reflective sphere and a helix of spheres around it. I also had the chance to look into mouse controls for it, so you can click and drag (or touch!) the scene. You can even zoom in and out.</div>
                    <div class="project-link"><a target="_newtab" href="../static/projects/threesTest.html">Link</a></div>
                </div>
            </div>
        </div>
    </div>
</div>