/****************************
Index styles
****************************/
.mainContent {
    /*background: url('../image/backgroundSquare.png');*/
    background-color: #eee;
    /*width: 80%;*/
}

.wrapper {
    /*width: 968px;*/
}

.dynamicContent {
    /*width: 80%;
    margin: 0 auto 2em auto;*/
    padding-top: 50px;
}

.view-subtitle {
    font-weight: bold;
}

header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

@media (max-width: 600px){
    header {
        z-index: 100;
        position: fixed;
        top: 0;
        width: 100%;
    }
}

footer {
    color: #bbb;
    border-top: 1px solid #aaa;
    text-align: right;
    line-height: 25px;
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: #f8f8f8;
}

div.footer {
    color: #777;
}

.dropdown-toggle {
    cursor: pointer;
}

.navbar li:hover {
    background-color: #aaa;
    color: #fff;
}

.navbar-nab {
    display: block;
}

.navbar-nav > li:hover {
    background-color: #efefef;
}

.dropdown-menu>li:hover {
    background-color: #aaa;
}

.dropdown-menu>li.dropdown-header:hover {
    background-color: #efefef;
    color: #777;
}

.page-content {
    padding: 2em;
}

.mobile-menu-dropdown {
    position: absolute;
    top: 0;
    right: 15px;
    height: 50px;
    line-height: 50px;
    display: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    .mobile-menu-dropdown {
        display: block;
    }
    
    .nav.navbar-nav.navbar-right {
        display: none;
        margin-top: 50px;
    }
}

/****************************
Home Page
****************************/
.slideshow-table {
    display: table;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}

.slideshow-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.slideshow {
    min-height: 630px;
    width: 100%;
    margin-top: -20px;
    position: relative;
    -webkit-transition: min-height 2s ease-in-out;
    -moz-transition: min-height 2s ease-in-out;
    transition: min-height 2s ease-in-out;
}

.slideshow.narrow {
    min-height: 200px;
}

@media (max-width: 600px) {
    .slideshow {
        height: 100%;
    }
}

.slideshow.slide0 { background: url('../image/slides/autoCity.jpg') no-repeat center; background-size: cover; }
.slideshow.slide1 { background: url('../image/slides/autoCityReflection.jpg') no-repeat center; background-size: cover; }
.slideshow.slide2 { background: url('../image/slides/droppedPokeballs.jpg') no-repeat center; background-size: cover; }
.slideshow.slide3 { background: url('../image/slides/honeycombMacro4.jpg') no-repeat center; background-size: cover; }

.name-container {
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
}

.name-container .name-overlay {
    height: 100%;
    background-color: rgba(0,0,0, 0.15);
}

.name-container .name-text {
    font-size: 60px;
    opacity: 1.0;
    -webkit-transition: opacity 4s ease-in-out;
    -moz-transition: opacity 4s ease-in-out;
    transition: opacity 4s ease-in-out;
}

.name-container .name-description-text {
    margin-left: 5px;
}

.name-text-container {
    margin-left: 4em;
    padding-top: 13em;
    opacity: 0.0;
}

/****************************
About Page Styles
****************************/

.about-content {
    margin-top: 1em;
    width: 100%;
}

.mainSelfPhoto {
    height: 300px;
    width: 300px;
    background-color: #333;
    margin: 0 auto;
}

.photoSelector {
    margin: 1em auto 0 auto;
    width: 308px;
}

.selfPhotoItem {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: #444;
}

.contact-links {
    margin-top: 1em;
}

.contact-links ul li {
    list-style-type: none;
    float:left;
    padding-right: 1em;
}

.selfPhoto1 { background: url(../image/self/self1.jpg) no-repeat center; background-size: contain; }
.selfPhoto2 { background: url(../image/self/self2.jpg) no-repeat center; background-size: contain; }
.selfPhoto3 { background: url(../image/self/self3.jpg) no-repeat center; background-size: contain; }

.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }

/****************************
Photo Page Styles
****************************/

#galleryContainer {
    margin-top: 1em;
    margin-left: 0;
    width: 100%;
}

#galleryContainer .galleryItem {
    width: 24%;
    margin-bottom: 1em;
    cursor: pointer;
}

#galleryContainer .galleryItem img {
    width: 100%;
}

#globalOverlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#globalOverlay > #overlayContainer {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: table;
}

#globalOverlay #overlayContent {
    display: table-cell;
    vertical-align: middle;
}

#globalOverlay #overlayContent > #overlayImage {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 0px 25px 8px #777;
}


#globalOverlay #overlayContent #overlayImage > img {
    width: 100%;
}

#globalOverlay #overlayContent > #overlayImage.vertical-photo {
    width: 40%;
}

@media (min-width: 1440px) {
    #globalOverlay #overlayContent > #overlayImage {
        width: 70%;
    }
    
    #globalOverlay #overlayContent > #overlayImage.vertical-photo {
        width: 35%;
    }
}

#globalOverlay .loading-gif {
    text-align: center;
}

/****************************
Project Styles
****************************/
.project-container {
    margin-top: 2em;
    width: 100%;
}

.project-container .project-title {
    font-size: 18px;
    font-weight: bold;
}

.project-img > img {
    width: 100%;
}

/****************************
In Construction Page Styles
****************************/
.construction-container {
    padding: 1em;
    display: table;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
}

.construction-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.construction-text {
    font-size: 30px;
    font-weight: bold;
    color: darkgray;
    margin-left: 4em;
}
